# This sets local environment variables only.
# Rename to .env and fill in varibles to use.
# See README.md for more information.
LP_DIRECT_PRINT_CODE=KZNNSOFH9OR7
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD=
